
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: FreeMono, monospace; 
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
}

/*style name inside top navigation bar top*/
nav {
    background:  rgb(22, 14, 71);
    padding: 0 25px;
}

h1 {
    font-size: 1.8em;
    color:whitesmoke;
}


.menu {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;
    flex-wrap: nowrap;  
}

.logo {
    order: 0;
    display: inline-block;
    flex-grow: 18;
}

.menu-item {
    order: 1;
    position: relative;
    display: inline-block;
    flex-grow: 1;
    padding-top: 20px;
}

a {
    color:whitesmoke;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: rgb(184, 59, 13);
    color:  rgb(22, 14, 71);
}

/*style the A in LizzyA */
#extra-large-emphasis {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
    color:  rgb(184, 59, 13);
}


/*style subheading in decorative bar*/
#decorative-bar {
    position: relative;
}

#decorative-bar h2 {
    position: absolute;
    border-left: solid 3px;
    padding: 10px 30px 10px 30px;
    font-family: FreeMono, monospace;
    font-size: 1.5em;
    font-style: italic; 
    top: 35%;
    right: 0;
    background-color: rgb(22, 14, 71);
    color: whitesmoke;
}

h2 {
    font-family: monospace;
    font-size: 1.5em;
}

/*set up grid structure and styling of main body*/

main {
    margin-left: 2%;
    margin-right: 3%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100%;  
    word-wrap: break-word;
}

.heading {
    padding: 10%;
    text-align: right;
    margin: 8%;
    border-right: solid 5px rgb(184, 59, 13);
}

.content {
    position:relative;
    padding: 1%;
    margin: 2%;
    margin-right: 15%;
    border: none;
    display: flex;
}

h3 {
    font-family: monospace;
    font-size: 1.8em;
    color:  rgb(184, 59, 13);
    display:block;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 1.5em;
    color: rgb(22, 14, 71);
    padding: 5% 25% 0 5%;
    margin: 10%;
    display: inline;
    text-align:start;
}

#contact-me {
    margin-top: 10%;
}

#about-me {
    padding-bottom: 10%;
}

#my-work {
    padding-bottom: 10%;
}

#LizzA {
    position: relative;
    display: inline;
    align-self: flex-end;
    margin-left: 10px;
}

/*setup grid to contain photos and set styling for images*/

#photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8%;
    column-gap: 3%;
    row-gap: 2%;
    margin: 0 15% 10% 15%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px rgb(22, 14, 71);
    box-shadow: 10px 5px 5px rgb(22, 14, 71);
}
figure {
    position:relative;
    opacity: 0.5;   
}

figure:hover {
    opacity: 1.0;
}

h4 {
    position: absolute;
    font-family: monospace;
    font-size: 1.2em;
}

.Image1 {
    display: flex;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 5%;
    opacity: 0.8;
}

.image1Text {
    position:absolute;
    align-self: flex-end;
    padding-left: 1%;
    padding-bottom: 3%;
    color: whitesmoke;
}

span {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 2em;
    color: whitesmoke;
    font-weight: bold;
    
}

.Image2 {
    display: flex;
    position: relative;
}

.image2Text {
    position:absolute;
    align-self: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;  
    color:rgb(184, 59, 13); 
}

.image2Text span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;  
    color:rgb(184, 59, 13);
}  

.Image3 {
    display: flex;
    position: relative;
}

.image3Text {
    position:absolute;
    align-self: flex-end;
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;  
    color:whitesmoke; 
}

.image3Text span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;  
    color:whitesmoke;
}  

.Image4 {
    display: flex;
    position: relative;
}

.image4Text {
    position:absolute;
    align-self: flex-start;
    font-family:cursive;
    font-size: 1em;  
    color:black;
    padding: 2%;
}

.image4Text span {
    font-family:cursive;
    font-size: 2em;  
    color:black;
}  

.Image5 {
    display: flex;
    position: relative;
}

.image5Text {
    position:absolute;
    align-self: flex-end;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;  
    color: black; 
    padding: 5%;
}

.image5Text span {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;  
    color: whitesmoke
}  

/*setup styling for footer menu*/
footer a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: black;
}

#footerMenu {
    display: flex;
}

footer .menu-item {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 1%;
}

/* responsive design changes for smaller screen sizes*/

@media screen and (max-width: 830px) {
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.3em; 
    }
    p {
        font-size: 1.2em;
    }
    footer a {
        font-size: 1em;
    }
    span {
        font-size: 1.1em; 
    }
    .image2Text span {
        font-size: 1.5em; 
    }
    .image3Text span {
        font-size: 1.5em;
    }
    .image4Text span {
        font-size: 1.2em;
    }
    .image5Text span {
        font-size: 1.2em;
    }
    #photoGrid {
        margin: 0 5%;
    }
    .heading {
        text-align: left;
        margin-left: 3%;
        margin-bottom: 12%;
        padding: 3%;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 1.5em;
    }
    #decorative-bar h2 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1em; 
        padding-right: 5px;
    }
    p {
        font-size: 1em;
    }
    .menu {
        display:inline;
    }
    .menu-item {
        display: block;
    }
    .heading {
        text-align:left;
        margin-bottom: 30px;
    }
    
    #photoGrid {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        margin-bottom: 50px;
    }
    .image1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4; 
        margin-top: 1%;
    }
    .Image2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .Image3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    .Image4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    .Image5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 12;
    }
    #my-work {
        padding-bottom: 200px;
    }
    #contact-me {
        margin-top: 80px;
        padding-right: 10px;
        padding-left: 0;
        font-size: 0.8em;
    }
    #footerMenu {
        margin-top: 70px;
    }
    #footerMenu {
        display: inline;
    }
    
    footer .menu-item {
        display: block;
        margin-top: 5px;
    }
}
