
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: FreeMono, monospace; 
    font-size: 16px;
    background-color: rgb(203, 235, 235);
}

/*style name inside top navigation bar top*/
nav {
    background:  rgb(22, 14, 71);
    padding: 0 25px;
}

h1 {
    font-size: 1.8em;
    color:whitesmoke;
}

h2 {
    font-family: monospace;
    font-size: 1.5em;
    color:  rgb(22, 14, 71);
}

h3 {
    font-family: monospace;
    font-size: 1.5em;
    color:  rgb(184, 59, 13);
}

p {
    font-family:'Courier New', Courier, monospace
    font-size: 1em;
    color: rgb(22, 14, 71);
}

a {
    color:whitesmoke;
    text-decoration: none;
}

main {
    margin-left: 1%;
    margin-right: 3%;
}

.menu {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;
    flex-wrap: nowrap;  
}

.logo {
    order: 0;
    display: inline-block;
    flex-grow: 18;
}

.menu-item {
    order: 1;
    position: relative;
    display: inline-block;
    flex-grow: 1;
    padding-top: 20px;
}

.menu-item a:hover {
    background-color: rgb(184, 59, 13);
    color:  rgb(22, 14, 71);
}


/*style the A in LizzyA */
#extra-large-emphasis {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
    color:  rgb(184, 59, 13);
}


/*style subheading in decorative bar*/
#decorative-bar {
    position: relative;
}

#decorative-bar h2 {
    position: absolute;
    border-left: solid 3px;
    padding: 10px 30px 10px 30px;
    font-family: FreeMono, monospace;
    font-size: 1.5em;
    font-style: italic; 
    top: 35%;
    right: 0;
    background-color: rgb(22, 14, 71);
    color: whitesmoke;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
}

.heading {
    flex: 1 0 20px;
    padding: 10px 20px 10px 10px;
    align-self: center;
    text-align: right;
    border-style: none;
    border-width: 1px;
}

.content {
    flex: 4 0 200px;
    padding: 20px;
    text-align: left;
    border-left: solid 3px rgb(184, 59, 13);
    margin: 10px;
}

.image-container {
    display: flex;
    position: relative;
    text-align: center;
}

.main-image {
    display: block;
    flex-grow: 1;
    align-items: center;
    block-size: 80%;
    margin:0 0 5% 20%;
    border: 2px solid rgb(184, 59, 13); 
}
